body{
    font-family: "Arial","Meiryo",sans-serif;
}

html{
    font-size: 20px;
}

.text-horizontal-center{
    text-align: center;
}

.blue{
    color: skyblue;
}

.pink{
    color: rgb(255,192,203);
}

#first-heading{
     font-family: "Josefin Sans", sans-serif;
     font-optical-sizing: 40px;
     font-weight: weight;
     font-style: normal;
     letter-spacing: 1.2em;
     border-bottom: solid 3px rgb(115,115,114);
     text-shadow: 3px 3px  darkgray;
}

.prof{
    font-weight:bold;
}

